.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #E91E63 !important;
}

.web-name{
  font-weight: 500;
}

.hero-section {
  background: url('images/computer.jpeg') no-repeat center center/cover;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: bold;
}

.hero-btn {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: 2px solid #E91E63 !important;
}

.hero-btn:hover {
  background-color: #E91E63 !important;
  color: #fff !important;
}

span {
  color: #E91E63;
}

/* Cards */

.Project-card {
  min-height: 250px;
  text-align: left;
  padding: 25px;
  font-family: verdana;
}

.project-image-first {
  background-image: url(./images/project\ 1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease transform;
  height: 270px;
}

.project-image-first:hover {
  transform: scale(1.01);
}

.project-image-second {
  background-image: url(./images/Project\ 2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease transform;
  height: 270px;
}

.project-image-second:hover {
  transform: scale(1.01);
}

.project-image-third {
  background-image: url(./images/project\ 3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease transform;
  height: 270px;
}

.project-image-third:hover {
  transform: scale(1.01);
}

.project-image-forth {
  background-image: url(./images/project\ 4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease transform;
  height: 270px;
}

.project-image-forth:hover {
  transform: scale(1.01);
}

/* About me  */

.about-section {
  padding: 60px 0;
}

.about-section h2 {
  font-weight: bold;
  font-size: 3rem;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.7;
}

.about-section .btn-outline-dark {
  border: 2px solid #e63946;
  color: #e63946;
}

.about-section .btn-outline-dark:hover {
  background-color: #e63946;
  color: #fff;
  border: 2px solid #e63946;
}

.left-border {
  border-left: 5px solid #e63946;
  padding-left: 15px;
}


/* Contact section */

.contact-section {
  padding: 60px 0;
}

.contact-section h2 {
  font-weight: bold;
  font-size: 3rem;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card img {
  width: 50px;
  margin-bottom: 15px;
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  margin: 0;
}